# Executables
**/c/star1
**/c/star2
**/cpp/star1
**/cpp/star2
**/cpp/star1.exe
**/cpp/star2.exe
**/cs/star1.exe
**/cs/star2.exe

# Input Files
**/input.txt
**/test_input*.txt

# VS Code
.vscode/cache

# Rust
**/rust/star*/debug
**/rust/star*/target
**/rust/star*/Cargo.lock
